.card {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 5px;
    animation: animate 0.3s;
}

.title {

    background-color: #5BDCA7;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 6;
    text-align: center;
}

.title-main
{
    text-align: center;
}
.info {

    background-color: #C57AC8;
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;

}
.majors {

    background-color: #7A6D7E;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;

}

.photo
{
    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 4;
    grid-column-end: 5;
}

.photo-img-div
{
    display: inline-block;
    width: 100%;
}

.photo-img{
    display: inline-block;
    vertical-align:top;
    width: 100%;
}

.photo > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.card-front
{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    display: inline-block;
    margin: 20px;
}

.close {
    color: Black;
    float: right;
}

.show-more-button-div
{
    position: relative;
}

.show-more-button
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color:green;
    color: #fff;
    border:none;
    border-radius:10px;
}


.simple-center
{
    text-align: center;
}

.h1-card{
    margin:auto;
    display: block;
    text-align: center;
}

@keyframes animate {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

#portal .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}
.container .card-info {
    z-index: 1;
    width: 800px;
    height: 450px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
}

.card-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 5px;
    height: 100%;
}

@keyframes animate {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
body
{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}